<p id="notice"><%= notice %></p>

<p>
  <strong>Listing status:</strong>
  <%= @subcategory2.listing_status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcategory2.category_id %>
</p>

<%= link_to 'Edit', edit_subcategory2_path(@subcategory2) %> |
<%= link_to 'Back', subcategory2s_path %>
