<p id="notice"><%= notice %></p>

<h1>Listing Sub2 Categories</h1>

<table>
  <thead>
    <tr>
      <th>Listing status</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub2_categories.each do |sub2_category| %>
      <tr>
        <td><%= sub2_category.listing_status %></td>
        <td><%= sub2_category.category_id %></td>
        <td><%= link_to 'Show', sub2_category %></td>
        <td><%= link_to 'Edit', edit_sub2_category_path(sub2_category) %></td>
        <td><%= link_to 'Destroy', sub2_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub2 category', new_sub2_category_path %>
