<p id="notice"><%= notice %></p>

<p>
  <strong>Listing status:</strong>
  <%= @sub2_category.listing_status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sub2_category.category_id %>
</p>

<%= link_to 'Edit', edit_sub2_category_path(@sub2_category) %> |
<%= link_to 'Back', sub2_categories_path %>
