<p id="notice"><%= notice %></p>

<h1>Listing Subcategory1s</h1>

<table>
  <thead>
    <tr>
      <th>Listing type</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategory1s.each do |subcategory1| %>
      <tr>
        <td><%= subcategory1.listing_type %></td>
        <td><%= subcategory1.category_id %></td>
        <td><%= link_to 'Show', subcategory1 %></td>
        <td><%= link_to 'Edit', edit_subcategory1_path(subcategory1) %></td>
        <td><%= link_to 'Destroy', subcategory1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subcategory1', new_subcategory1_path %>
