<p id="notice"><%= notice %></p>

<p>
  <strong>Listing type:</strong>
  <%= @subcategory1.listing_type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcategory1.category_id %>
</p>

<%= link_to 'Edit', edit_subcategory1_path(@subcategory1) %> |
<%= link_to 'Back', subcategory1s_path %>
